.flex {
  display: flex;
  justify-content: center;
}

.box {
  display: block;
  width: 280px;
  height: 160px;
  border-radius: 5px;
  text-align: center;
  margin: 0px 10px;

  &.box-azul {
    background-color: #00008b;
    color: white;
  }

  &.box-verde {
    background-color: #008000;
    color: white;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2px;
  }

  span {
    font-size: 2rem;
  }
}
